<h2>Products</h2>

<div class="col-md-6">
  <h3>All Products</h3>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
</div>

<div class="col-md-6">
  <h3>Local Products</h3>
  <ul>
    <% @localProducts.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
</div>
